
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital@1&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Merriweather Sans', sans-serif;
}
.starter{
    display: flex;
    background: #0000FF;
    align-items: center;
    /* justify-content: flex-end; */
}
.first{
    width: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    font-family: 'Merriweather Sans', sans-serif;
    /* justify-content: space-between; */
}
.link {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    font-family: 'Signika Negative', sans-serif;
}
.link a {
    color: #fff;
    text-decoration: none;
    list-style: none;
}
.search{
    /* border: 2px solid #1F51FF; */
    display: flex;
    width: 50%;
    margin: 0 auto;
    align-items: center;
    font-size: 15px;
}
.search input{
    padding: 10px 10px;
    width: 600px;
    outline: none;
    margin: 5px 0;
    font-size: 15px; 
    border-radius: 5px; 
    border: 2px solid #1F51FF;  
}
.search button{
    cursor: pointer;
    padding: 10px 10px;
    background: #1F51FF;
    font-size: 15px;
    margin-left: 20px;
    border-radius: 5px;
    color: #fff;
}
.mobilestarter{
    display: none;
    background: var(--theme);
    color: #fff;
}
.mobilefirst{
    display: flex;
    align-items: center;
}
.mobilefirst h2{
    padding-left: 100px;
    font-size: 30px;
    width: 50%;
}
.mobilesearch{
    padding: 8px 0;
    display: none;
    width: 60%;
    margin: 0 auto;
    color: #1F51FF;
}
.mobilesearch input{
    padding: 8px;
    width: 600px;
    outline: none;
    margin: 5px 0;
    font-size: 15px; 
    border-radius: 5px; 
    border: 2px solid #1F51FF;
}
.mobilesearch button{
    padding: 8px;
    margin-left: 15px;
    background: #1F51FF;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
}
.show{
    background: var(--blue);
}
.swiper-slide img{
    display: block;
    width: 70%;
    margin: 0 auto;
    height: 40rem;
    object-fit: cover;
}
#swiper-1 .swiper-pagination{
    bottom: 2rem;
}
#swiper-1 .swiper-pagination-bullet{
    opacity: 1;
    background: var(--black-color);
    width: 0.75rem;
    height: 0.75rem;
    margin: 0 0.375rem;
}

#swiper-1 .swiper-pagination-bullet-active{
    background: var(--theme);
}