@media screen and (max-width:851px) {
    .swiper-slide img{
        height: 20rem;
    }
    .starter{
        display: none;
    }
    .search{
        display: none;
    }
    .mobilestarter{
        display: flex;
    }
    .mobilesearch{
        display: flex;
        align-items: center;
    }
}