@media screen and (max-width:851px) {
    .swiper-slide img{
        height: 20rem;
    }
    .starter{
        display: none;
    }
    .search{
        display: none;
    }
    .mobile{
        display: flex;
        justify-content: space-between;
        padding: 10px 10px;
        align-items: center;
    }
    .mobilesearch{
        display: flex;
        align-items: center;
    }
}